snippet end
	<% end %>

snippet if
	<% if ${1} %>
		${2}
	<% end %>

snippet ifelse
	<% if ${1} %>
		${2}
	<% else %>
		${3}
	<% end %>

snippet render
	<%= render(${1:name}Component.new) do %>
		${2}
	<% end %>

snippet styled_container
	<%= styled_container do %>
		${1}
	<% end %>

snippet Flipper
	<% if Flipper[${1}].enabled?(ActsAsTenant.current_tenant) %>

snippet ActsAsTenant
	ActsAsTenant.current_tenant.${1}
