snippet cl "console.log"
	console.log(${1})

snippet def "def" b
	def ${1:name}
		${2}
	end

snippet import
	import ${1} from '${2}'

snippet it
	it "${1}" do
		${2}
	end

snippet describe
	describe "${1}" do
		${2}
	end

snippet let
	let(:${1}) { ${2} }

snippet create
	create(:${1})

snippet render
	render(${1:name}Component.new) do
		${2}
	end

snippet styled_container
	styled_container do
		${1}
	end

snippet Flipper
	Flipper[${1}].enabled?(ActsAsTenant.current_tenant)
