snippet cl "console.log"
	console.log(${1})

snippet def "def" b
	def ${1:name}
		${2}
	end

snippet import
	import ${1} from '${2}'

snippet it
	it "${1}" do
		${2}
	end

snippet describe
	describe "${1}" do
		${2}
	end

snippet render
	render(${1:name}Component.new) do
		${2}
	end
